<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headSection" id="head-section"
     class="d-flex justify-content-center align-items-center">
    <div id="header" class="container mt-2 text-center text-white">
        <h3 class="display-4 mb-0">Chase Your Dream</h3>
        <h1 class="display-1">Creative and Teach Training</h1>
        <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ut?</p>
        <button class="btn btn-sm btn-outline-primary my-2">Learn More</button>
    </div>
</div>

</body>
</html>

