<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="shopViewHead" id="photo" class="jumbotron jumbotron-fluid text-center text-white">
        <div class="container">
            <h3>Amazing Book Store</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nesciunt?</p>
            <a href="#" class="btn btn-info btn-lg">Register</a>
        </div>

        <style>
            #photo {
                background-image: url("https://images.unsplash.com/photo-1522211988038-6fcbb8c12c7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjU4fHxib29rc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>

    </div>
</body>
</html>