<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="homeIcon" class="py-5">
    <div class="row">
        <div class="col-md-4 mb-3 text-center">
            <i class="fas fa-books"></i>
            <h3>Explore</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, enim?</p>
        </div>

        <div class="col-md-4 mb-3 text-center">
            <i class="fas fa-clouds"></i>
            <h3>Find</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quidem.</p>
        </div>

        <div class="col-md-4 mb-3 text-center">
            <i class="fas fa-store"></i>
            <h3>Buy It</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quidem.</p>
        </div>
    </div>
</section>
</body>
</html>